@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  size: 10px;
  line height: 3.5em;
  weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font: Roboto Condensed;
}

h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
    color: white;
    text-shadow: #020819 8px -20px 9px;
}

h3 {
    font: size 4.2em;
    text-align: center;
    line height: 1em;
}

h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}

h5 {
    font-size: 1.2em;
    line-height: 1em;
}

.nav-bar {
    background-color: rgb(25, 33, 41);
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

header {
    background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.quote {
    font-size: 2.5em;
}

.dark-background {
    background-color: rgb(25, 33, 41);
    color: white;
}

.dark-background p {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}
.general-information article a {
    background-color: rgb(0,0,255)
    color: white;
    font-family: Roboto Condensed;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

.service-box {
    font-size: 1.7em;
    text-align: center;
}

.service-box img {
    width: 125px;
}

#team {
    padding: 75px 0;
    margin: 0 auto;
}

#team p{
    width: 60%;
    margin: 10px auto;
} 

#team .section-text {
    font-size: 1.9em;
    text-align: center;
}

#team .member-name {
    font-size: 1.5em;
    font-weight: 700;
}

#team img{
    width: 250px;
    height: 180px;
}

.footer{
    font-size: 1.9em;
    text-align: center;
}

.address {
    font-style: normal;
    font-size: 0.8em;
}

.footer a{
    color: rgb(67, 163, 230);
    text-decoration: none;
}

.footer ul{
    list-style: none;